/* Topのみで使うCSS　*/
@charset "UTF-8";

.nav-toggle{
    display: none;
}

.btn-burger {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 2;
    display: block;
    width: 44px;
    height: 44px;
    background: url("img/hannbaga-.png") center center / 35px 20px no-repeat;
    cursor:pointer;
}

.nav-toggle:checked ~ .btn-burger{
    background: url("..img/x.svg") center center /26px 26px no-repeat;
}

.nav {
    padding-top: 10px;
    background: url(img/hannbaga-.png)center center / cover no-repeat;
}

nav-list {
    display: none;
    margin:  0;
    padding-bottom: 10px;
}

.nav-list li{
    margin: 0;
    padding: 10px;
}

.nav-list a {
    display: block;
    color: #fff;
}

.nav-toggle:checked ~ .nav .nav-list{
    display: block;
}